/* INDEX */

.categories-title {
  text-align:center;
  margin: 20px 0px 20px 0px;
}

/* NAVBAR */
.menu-navbar a {
    text-decoration: none !important;
    padding: 10px;
}

.menu-navbar-right a {
margin: 10px;
}

.btn-group .menu-navbar-right-dropdown {
margin-top:75%;
}

/* CATEGORIES */

.button-col {
    padding:20px;
}

.button-category{
background-color: #0069d9;
color: white;
cursor: pointer;
border:white;
height:50vh;
}

.button-category:active{
    background-color: #0058b6;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }

.card-product-image{
    height:200px;
    width:100%;
    overflow: hidden;
    text-align:center;
  }

  .card-product-image img{
    width: 100%;
    margin-left: 50%;
    transform: translateX(-50%);
  }

  .card-title {
    font-size: 18px;
    font-weight: 600;
  }

  .card-price-product {
    font-size: 17px;
    font-weight: bold;
    display: block;
    margin-bottom:10px;

  }

  /* PRODUCTS */

  .col-product-img img{
    width:100%;
  }

  .col-product-info h4{
    font-size: 2em;
    font-weight: bold;
  }

  .col-product-info p{
    margin-top:10px;
    font-size: 1.5em;
    font-weight: bold;
  }

  .product-info-category{
    font-size: 1.1em;
    font-style: italic;
    color:#acacac;
  }

  /* ADMIN */

  .panel-admin {
    margin: 20px 0px 20px 0px;
  }